*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 0 .5em;
}
.sub-section{
    font-style: italic;
}
img{
    max-height: 50vw;
    width: 100%;
}

.alert-info {
    background-color: #cbffff;
    text-align: center;
    padding-top:1em;
    padding-bottom: 1em;
    border: lightgrey 1px solid;
}

h1 {
    text-align: center;
    font-size: 10vw;
    margin: 0;
}
.nav-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding:0;
}
li{
    background-color: #ccc;
    padding: 1em;
    margin: 0.5em;
    width: 100%;
    text-align: center;
}
p{
    margin-bottom: 3em;
}
